<h2>All Superheroes</h2>
<h3>Search by superpower:</h3>
<%= form_tag(superheroes_path, method: :get) do %>
  <%= text_field_tag :superpower, params[:superpower] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
<%= form_tag('/superheroes/new', method: :get) do %>
  <%= submit_tag 'Create Superhero', name: nil %>
<% end %>
