<%= form_for @superhero do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :super_name %></p>
  <p><%= f.text_field :super_name %></p>
  <p><%= f.collection_select :superpower_id, Superpower.all, :id, :name %></p>
  <%= f.submit %>
<% end %>
